body {
  background:#0b132b;
  color:white;
  font-family:sans-serif;
}
.card {
  background:#1c2541;
  margin:10px;
  padding:10px;
  border-radius:8px;
}
video {
  width:45%;
  background:black;
}
.dpad {
  display:flex;
  flex-direction:column;
  align-items:center;
}
.dpad button, .buttons button {
  width:60px;
  height:60px;
  font-size:20px;
  margin:5px;
}
.buttons {
  display:flex;
  gap:10px;
}
